.about-me-text {   
    padding: 8%;
    display: flex;
    flex-direction: column;
    box-shadow:  #696969 0 0 1em;
    position: relative;
    top: -53vh;
    left: -11vw;
    text-align: center;
    text-indent: 6%;
    width: var(--about-me-width);
    gap: 4vh;
}

.about-me-text , .about-me-text *{
    font-size: var(--font-default);
    color: var(--txt-secondary);
    background-color: var(--bg-special);
    border-radius: 2em;
}